@charset "utf-8";

body {
    background-color: #818181;
}

.container {
    background-color: #fff;
}

header {
    color: white;
    background-color: #043f8b;
    margin: 0 -15px;
    padding: 16px 20px;
}

h1 {
    margin-bottom: 0;
    color: white;
    text-align: center;
    background-color: #043f8b;
    padding: 16px 20px; 
}

.basic-form {
    border-radius: 8px;
    border: 1px solid #797979;
    /* padding-top: 16px; */
    padding-bottom: 16px;
}

.username{
    color: blue;
    text-align: center;
}

#login-form{
    max-width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}

#error{
    text-align: left;
    padding: 20px;
}


/* Bootstrap Form Styles */

@media (min-width: 620px){
    .container {
        padding-left: 30px;
        padding-right: 30px;
    }

    header {
        margin: 0 -30px;
    }

    .username{
        color: blue
    }

}